@charset "UTF-8";
/*font-family: 'Raleway', sans-serif;*/
/*bleu header #0A7ECC */
/*bleu on hover #4ACEFF */
body, html{
  padding:0;
  margin: 0;
}

body{
  font-family: 'Raleway', sans-serif;
}
.container-fluid{
padding: 0;
}


a ,a:hover{
  text-decoration: none;
}

.separator{
    height: 3px;
    width: 10%;
    border: none;
    box-shadow: none;
    border: none;
    background-color: #0A7ECC;
}


/*header*/

.header{
  background-color: #0A7ECC;
  height: 70px;
  line-height: 70px;
}
.logo{
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  float: left;
}
.menu{
  float: right;
}
.menu a{
  color: #ffffff;
  margin-right: 20px;
}
.menu a:hover{
  color: #4ACEFF;
}



/*banniere du site*/

.banner{
  width: 100%;
  max-width: 100%;
}
.ban{
  width: 100%;
  max-width: 100%;
  position: relative;
}
.ban img{
  width: 100%;
  max-width: 100%;
}
.inner-banner{
  position: absolute;
  top:30%;
  width: 100%;
  text-align: center;
}
.inner-banner h1{
  color:#ffffff;
  text-shadow: 1px 1px 20px #000000;
}
.inner-banner .btn-custom{
  background-color: #0A7ECC;
  color: #ffffff;
}
.inner-banner .btn-custom:hover{
  background-color: #2C3E50 ;
}

/*formulaire*/
/*about*/
#about{
  padding-top: 10%;
  text-align: center;
}
.about article{
  margin-top: 10%;
  margin-bottom: 10%;
}
.about article h2{
  text-align: center;
}

/*footer*/
.footer{
  background-color: #2C3E50;
}
#contacter{
color: #ffffff;
text-align: center;
}
